
Library/assetDatabase3
Library/CrashedAssetImports.txt
Library/EditorInstance.json
Library/metadata/2a/2a8d3fef95d45d0468f4a0ff2fdf6d4e
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/StateCache/Hierarchy/30a00d-mainStage.json
Library/StateCache/SceneView/93c9a0-mainStage.json
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-781c2f21fcf1baa4da3c853f3425079b
Temp/UnityTempFile-af3ffc100c162f14abef1afb2ca20311
